1.  What are data structures, and why are they important
->  Definition:
     Data structures are specialized formats to organize, store, and manage data efficiently.

     Importance:
      They help in faster data access, better memory usage, and efficient algorithm design.


2. Explain the difference between mutable and immutable data types with examples
->    Mutable data types:
      These can be changed after creation.
      Examples: list, dict, set

     Immutable data types:
     These cannot be changed after creation.
     Examples: int, str, tuple


3. What are the main differences between lists and tuples in Python
->  Feature      List          Tuple      
  a) Mutability  | Mutable      | Immutable
  b) Syntax      | `[1, 2, 3]`  | `(1, 2, 3)`
  c) Use Case    | Dynamic data | Fixed data  

 4. Describe how dictionaries store data
->   Dictionaries store data as key-value pairs and it allow  fast access to     values using unique keys.
  Example
  student = {"name": "vaishnavee", "age": 21}

5. Why might you use a set instead of a list in Python
-> set will remove duplicates automatically
    example :
    set([1,2,45,45])
    output : 1,2,45


6. What is a string in Python, and how is it different from a list
->  A string is a sequence of characters and is immutable, while a list is a     sequence of elements and is mutable.

7. How do tuples ensure data integrity in Python
-> Tuples are immutable, so their contents can't be changed, which protects    data from accidental modification.


8. What is a hash table, and how does it relate to dictionaries in Python
-> A hash table is a data structure that maps keys to values using a hash function.
Python dictionaries use hash tables internally for fast key-based access.


9.Can lists contain different data types in Python
->  Yes, Python lists can contain mixed data types.
    Example: [1, "yash ", 3.14, True , 45]


10. Explain why strings are immutable in Python
->  Strings are immutable to improve performance, security, and thread safety since they are commonly used.

11. What advantages do dictionaries offer over lists for certain tasks
-> Clear key-value pairing for structured data.
   Avoids the need for searching index-wise.


12. How do sets handle duplicate values in Python
-> Sets automatically remove duplicates and only store unique elements.
   example
   set([1, 2, 2, 3])
    # Output: {1, 2, 3}

13. Describe a scenario where using a tuple would be preferable over a list
->  In a  tuple we will store such a values which will not be changed by time
    foe example data of birth


14. How does the “in” keyword work differently for lists and dictionaries
->   In a list, it checks values.

In a dictionary, it checks keys only.

15. Can you modify the elements of a tuple? Explain why or why not
->  No, tuples are immutable, so their elements cannot be changed once created.


16. What is a nested dictionary, and give an example of its use case
->  A nested dictionary is a dictionary inside another dictionary.

Example:
students = {
  "101": {"name": "Alex", "age": 20},
  "102": {"name": "Sara", "age": 22}
}
Use case: storing data for multiple records (like students or employees).



17. Describe the time complexity of accessing elements in a dictionary
->  Accessing an element by key in a dictionary is O(1) (constant time) on average.

18. In what situations are lists preferred over dictionaries
-> When order matters.
  when storing sequential or duplicate values.
  When key-value pairing is not needed.


19. Why are dictionaries considered unordered, and how does that affect data retrieva
-> dictionaries were unordered, meaning items had no guaranteed order.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.
-> List: Retrieve by index (e.g., my_list[0]).
   Dictionary: Retrieve by key (e.g., my_dict["name"]), which is faster and more descriptive.

 1. Write a code to create a string with your name and print it

In [2]:
str = "vaishnavee"
print("hiii"+" "+ str)

hiii vaishnavee

2.  Write a code to find the length of the string "Hello World"

In [4]:
st ="Hello World"
print(len(st))

13

3.  Write a code to slice the first 3 characters from the string "Python Programming

In [6]:
text = "Python Programming"
sliced = text[0:3]
print(sliced)

Pytho

4.  Write a code to convert the string "hello" to uppercase

In [8]:
str= "hello"
print(str.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [11]:
str= "I like apple"
str.replace("apple","orange")

'I like orange'

6.  Write a code to create a list with numbers 1 to 5 and print it

In [12]:
list =[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

 7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [14]:
addatlast= [1,2,3,4]
addatlast.append(10)
print(addatlast)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [18]:
rem=[1,2,3,4,5]
rem. remove(3)
print(rem)

[1, 2, 4, 5]

9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [19]:
list = ['a','b','c','d']
print(list[1])

c

10  Write a code to reverse the list [10, 20, 30, 40, 50].

In [28]:
list =[10,20,30,40,50]
print(list [ ::-1])

[50, 40, 30, 20, 10]

 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [29]:
tuple= (100,200 , 300, 400)
print(tuple)

(100, 200, 300, 400)
<class 'tuple'>

 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [30]:
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print(second_last)

blue

 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [31]:
numbers = (10, 20, 5, 15)
min_value = min(numbers)
print(min_value)

5

 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [32]:
animals = ('dog','cat','rabbit')
index = animals.index('cat')
print(index)

1

 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [36]:
fruits= ('apple','mango','kiwi')
if 'kiwi' in fruits:
    print("kiwi is in tuple")
else:
      print("not in tuple")

kiwi is in tuple

 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [37]:
set={'a','b','c'}
print(set)

{'b', 'c', 'a'}

 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [38]:
set= {1,2,3,4,5}
set.clear()
print(set)

set()

 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [39]:
set ={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [40]:
set1={1,2,3}
set2= {3,4,5}
union =set1.union(set2)
print(union)

{1, 2, 3, 4, 5}

 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [41]:
st1={1,2,3,}
st2= {2,3,4}
intersection = st1.intersection(st2)
print(intersection)

{2, 3}

 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [42]:
dit= {"name":"yash","age": 20,"city":"indore"}
print(dit)

{'name': 'yash', 'age': 20, 'city': 'indore'}

 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [43]:
dictionary ={'name':'johan','age':25}
dictionary['county']='USA'
print(dictionary)

{'name': 'johan', 'age': 25, 'county': 'usa'}

 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [44]:
dic={'name':'Alice','age':30}
print(dic['name'])

Alice

 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [45]:
dis={'name': 'Bob', 'age': 22, 'city': 'New York'}
dis.pop('age')
print(dis)

{'name': 'Bob', 'city': 'New York'}

 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
**bold text**

In [46]:
dictionary= {'name': 'Alice', 'city': 'Paris'}
if 'city' in dictionary:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist.")

Key 'city' exists in the dictionary.

 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [47]:
# Creating the data structures
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'name': 'Alice', 'age':25}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'name': 'Alice', 'age': 25}

 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the

In [48]:
numbers = [12,6,3,45,123]
numbers.sort()
print(numbers)

[3, 6, 12, 45, 123]

28. Write a code to create a list with strings and print the element at the third index

In [50]:
words = ["apple", "banana", "cherry", "mango", "elderberry"]
print( words[3])

mango

 29. Write a code to combine two dictionaries into one and print the result.

In [51]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined = {**dict1, **dict2}
print("Combined dictionary:", combined)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}